<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<center>
  <%= form_for(:session, url: signin_path) do |f| %>

    <%= f.label :login %><br>
    <%= f.text_field :login %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.submit "Sign In", class: "btn btn-primary" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</center>