<h1>NEW ITEM</h1>
<%= form_for @item do |f| -%>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  
<% end -%>
<h1>BAN PLAYER</h1>