<h1>
  Avaible gold: <%= current_user.player.gold %>
</h1>

<h2>Armor:</h2>
<p><%= link_to 'Leather Armor', '#' %></p>

<h2>Weapons:</h2>
<p><%= link_to 'Heavy Axe', '#' %></p>
<p><%= link_to 'Double Axe', '#' %></p>
<p><%= link_to 'Low Crossbow', '#' %></p>
<p><%= link_to 'Blade', '#' %></p>
<p><%= link_to 'Mace', '#' %></p>
<p><%= link_to 'Dagger', '#' %></p>
<p><%= link_to 'Pistol', '#' %></p>

<h2>Protection:</h2>
<p><%= link_to 'Light Shield', '#' %></p>
