<div class="city_section" %>
    <h1>
    <%= link_to "Targets", rpg_targets_path, class: "btn btn-danger" %>
    <div class="text-left">
      <span class="label label-warning">
        <%= image_tag("battle-gear.png", size: "50x40", title: "Shop") %><%= link_to 'Shop', shop_path %>
      </span>

      <span class="label label-success">
        <%= image_tag("strong.png", size: "50x40", title: "Jungle") %><%= link_to 'Jungle', rpg_jungle_path %>
      </span>


      <span class="label label-danger">
        <%= image_tag("pyromaniac.png", size: "50x40", title: "Targets") %><%= link_to 'Targets', targets_path %>
      </span>
    </div>
    </h1>
    <%= link_to 'Battles', rpg_battles_path %>
</div>


