<!DOCTYPE html>
<html>
  <head>
    <title>YAOOP - THE RETURN</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>  
    <%= render '/layouts/header' %>
    <% if signed_in? && can_play?(current_user) %>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <%= render '/layouts/sidebar' %>
        </div>
        <div class="col-md-9">      
          <% if !flash.empty? %>        
            <% flash.each do |message_type, message| %>
              <center><div class="alert alert-<%= message_type %>"><%= message %></div></center>
            <% end %>        
          <% end %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
